* {
    box-sizing: border-box;
}

body {
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
}

h1,
p {
    display: flex;
    justify-content: center;
    margin: 10px;
}

button {
    display: flex;
    justify-content: center;
    padding: 5px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.message {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}

.message > div {
    padding: 2px 20px 2px 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vmin;
    padding: 20px 15px 15px 15px;
}

.board > div {
    border: 1px solid black;
    border: 1px solid black;
    background-color: white;
    background-size: cover;
    background-position: center;
    width: 20vmin;
    height: 20vmin;
    padding: 5px;
}

button:hover,
.board > div:hover {
    cursor: pointer;
}

button {
    padding: 3px;
    margin: 10px;
}

/* Active icon image URLS */
#icon0.active,
#icon0.match {
    /* background-image: url('./icon-images/icon0.png'); */
    background-color: plum;
}
#icon1.active,
#icon1.match {
    /* background-image: url('./icon-images/icon1.png'); */
    background-color: lightgreen;
}
#icon2.active,
#icon2.match {
    /* background-image: url('./icon-images/icon2.png'); */
    background-color: olivedrab;
}
#icon3.active,
#icon3.match {
    /* background-image: url('./icon-images/icon3.png'); */
    background-color: blueviolet;
}
#icon4.active,
#icon4.match {
    /* background-image: url('./icon-images/icon4.png'); */
    background-color: yellow;
}
#icon5.active,
#icon5.match {
    /* background-image: url('./icon-images/icon5.png'); */
    background-color: orange;
}
#icon6.active,
#icon6.match {
    /* background-image: url('./icon-images/icon6.png'); */
    background-color: red;
}
#icon7.active,
#icon7.match {
    /* background-image: url('./icon-images/icon7.png'); */
    background-color: royalblue;
}
#icon8.active,
#icon8.match {
    /* background-image: url('./icon-images/icon8.png'); */
    background-color: burlywood;
}
#icon9.active,
#icon9.match {
    /* background-image: url('./icon-images/icon9.png'); */
    background-color: salmon;
}

@media (min-width: 768px) {
    h1 {
        font-size: 44px;
    }
    p {
        font-size: 18px;
    }
    .message {
        font-size: 22px;
    }
    button {
        font-size: 16px;
        padding: 5px;
    }
    .board > div {
        border: 1px solid black;
        border: 1px solid black;
        background-color: white;
        background-size: cover;
        background-position: center;
        width: 18vmin;
        height: 18vmin;
        padding: 5px;
    }
}

@media (min-width: 960px) {
    h1 {
        font-size: 60px;
    }
    p {
        font-size: 22px;
    }
    .message {
        font-size: 22px;
    }
    .board {
        grid-template-columns: repeat(5, 1fr);
    }
}
