* {
    box-sizing: border-box;
}

body {
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Hind Vadodara', sans-serif;
    color: white;
    background: url(./Assets/background.png), rgb(85, 107, 85);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}

header {
    display: flex;
    flex-direction: column;
    margin: 0 20px 10px 20px;
}

.container {
    display: none;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}

.timer {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(254, 196, 76);
}

.game-stats {
    display: flex;
    flex-flow: column wrap;
}

.start-instructions {
    color: rgb(254, 196, 76);
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 2.5rem;
}

p {
    display: block;
    font-size: 0.9rem;
    padding: 0 75px;
    margin: 0px;
    line-height: 1.5rem;
    height: 70px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin: 0 30px;
}

/* Referened after having issues with the overlay position https://stackoverflow.com/questions/3250790/making-a-div-that-covers-the-entire-page */
/* Referenced to learn how to bring elements to the front / back https://www.shecodes.io/athena/72599-how-to-bring-an-element-to-the-front-in-css-using-z-index#:~:text=To%20bring%20an%20element%20to%20front%20of%20another%20element%2C%20you,a%20lower%20z%2Dindex%20value. */
.overlay-modal-div {
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.overlay {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 200px;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(44, 104, 137);
}

.message {
    font-size: 1.25rem;
}

.play-again {
    margin: 30px 20px 0 20px;
    display: none;
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vmin;
    perspective: 1500px;
}

.board > div {
    border-radius: 10px;
    background: url(./Assets/iconbg.png);
    background-size: cover;
    background-position: center;
    justify-self: center;
    width: 22vmin;
    height: 22vmin;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

/* Referenced to help with card 'flip' animation https://www.w3schools.com/howto/howto_css_flip_card.asp */
.board > div.active {
    transform: rotateY(180deg);
}

button:hover,
.board > div:hover {
    cursor: pointer;
}

/* Referened https://stackoverflow.com/questions/5438567/css-submit-button-weird-rendering-on-ipad-iphone */
button {
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    font-size: 14px;
    width: fit-content;
    background-color: rgb(254, 196, 76);
    color: black;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@media (min-width: 768px) {
    h1 {
        font-size: 4rem;
    }
    p {
        font-size: 1.5rem;
    }
    .container {
        font-size: 1.5rem;
    }
    button {
        font-size: 1rem;
    }
}

@media (min-width: 960px) {
    .message,
    p {
        font-size: 1.5rem;
    }
    button {
        font-size: 1.25rem;
    }
    .board {
        grid-template-columns: repeat(5, 1fr);
    }
    .board > div {
        width: 18vmin;
        height: 18vmin;
    }
}

/* Active icon image URLS */
#icon0.active,
#icon0.match {
    background-image: url('./Assets/icon0.png');
}
#icon1.active,
#icon1.match {
    background-image: url('./Assets/icon1.png');
}
#icon2.active,
#icon2.match {
    background-image: url('./Assets/icon2.png');
}
#icon3.active,
#icon3.match {
    background-image: url('./Assets/icon3.png');
}
#icon4.active,
#icon4.match {
    background-image: url('./Assets/icon4.png');
}
#icon5.active,
#icon5.match {
    background-image: url('./Assets/icon5.png');
}
#icon6.active,
#icon6.match {
    background-image: url('./Assets/icon6.png');
}
#icon7.active,
#icon7.match {
    background-image: url('./Assets/icon7.png');
}
#icon8.active,
#icon8.match {
    background-image: url('./Assets/icon8.png');
}
#icon9.active,
#icon9.match {
    background-image: url('./Assets/icon9.png');
}
