* {
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
}

main {
    background-color: grey;
}

.message {
    font-size: 30px;
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vmin;
    padding: 10px;
}

div > div {
    border: 1px solid black;
    border: 1px solid black;
    background-color: white;
    background-size: cover;
    background-position: center;
    width: 15vmin;
    height: 15vmin;
}

button:hover,
div > div:hover {
    cursor: pointer;
}

button {
    padding: 3px;
    margin: 10px;
}

/* Active icon image URLS */
#icon0.active {
    background-image: url('./icon-images/icon0.png');
}
#icon1.active {
    background-image: url('./icon-images/icon1.png');
}
#icon2.active {
    background-image: url('./icon-images/icon2.png');
}
#icon3.active {
    background-image: url('./icon-images/icon3.png');
}
#icon4.active {
    background-image: url('./icon-images/icon4.png');
}
#icon5.active {
    background-image: url('./icon-images/icon5.png');
}
#icon6.active {
    background-image: url('./icon-images/icon6.png');
}
#icon7.active {
    background-image: url('./icon-images/icon7.png');
}
#icon8.active {
    background-image: url('./icon-images/icon8.png');
}
#icon9.active {
    background-image: url('./icon-images/icon9.png');
}
#icon10.active {
    background-image: url('./icon-images/icon10.png');
}
